html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header {
	height: 100px;
	width: 100%;
	background-color: yellowgreen;
	text-align: center;
}
.content {
	flex: 1;
}
.book-shelf {
	padding: 1rem;
}

.book-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	grid-template-rows: auto;
	gap:20px;
}
.book-style{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:5px;
	background-color: bisque;
	border:1px solid red;
	padding:20px;
}